<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{cf1545e0-765e-4b79-ae0b-6745e4fe9733}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image>Images\uno.png</Image><Author>Untitled</Author><Company>Untitled</Company><Date>01/18/2022</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="nuevaLinea_addin.py" namespace="nuevaLinea_addin"><ArcMap>
    <Commands>
        <Tool caption="SelecPunto" 
            category="Python Addin" 
            class="SelectPunto" 
            id="nuevaLinea_addin.selecPunto" 
            image="Images\uno.png" 
            message="Seleccione dos puntos\nPara la herramienta" 
            tip=""><Help heading="" /></Tool>
        <Button caption="ButtonActivar" 
            category="Python Addin" 
            class="ButtonActivar" 
            id="nuevaLinea_addin.activar" 
            image="" 
            message="" 
            tip=""><Help heading="" /></Button>
        <Button caption="Desactivar" 
            category="Python Addin" 
            class="ButtonDesactivar" 
            id="nuevaLinea_addin.descartivar" 
            image="" 
            message="" 
            tip=""><Help heading="" /></Button>
        <Button caption="Ejecutar" 
            category="Python Addin" 
            class="ButtonEjecutar" 
            id="nuevaLinea_addin.ejecutar" 
            image="" 
            message="" 
            tip=""><Help heading="" /></Button>
        <Button caption="DirName" 
            category="Python Addin" 
            class="ButtonDirName" 
            id="nuevaLinea_addin.dataInput" 
            message="Seleccione el nombre del archivo shapefile"></Button>
        <ComboBox caption="Capa Arboles" 
            category="Python Addin" 
            class="NumeroLinea" 
            id="nuevaLinea_addin.nroLinea" 
            itemSizeString="WWWW" 
            message="Numero de linea que se usara\nen la iteracion" 
            rows="4" 
            sizeString="WWWW" 
            tip="Nro.. Linea"><Help heading="" /></ComboBox>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="CrearLinea" category="Python Addin" id="nuevaLinea_addin.crearLine" showInitially="true">
        <Items>
            <Tool refID="nuevaLinea_addin.selecPunto" />
            <Button refID="nuevaLinea_addin.activar" />
            <Button refID="nuevaLinea_addin.descartivar" />
            <Button refID="nuevaLinea_addin.ejecutar" />
            <Button refID="nuevaLinea_addin.dataInput"/>
            <ComboBox refID="nuevaLinea_addin.nroLinea" />
        </Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>