<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{cf1545e0-765e-4b79-ae0b-6745e4fe9733}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image>Images\uno.png</Image><Author>Untitled</Author><Company>Untitled</Company><Date>01/18/2022</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="nuevaLinea_addin.py" namespace="nuevaLinea_addin"><ArcMap>
    <Commands>
        <Tool caption="SelecPunto" 
            category="Python Addin" 
            class="SelectPunto" 
            id="nuevaLinea_addin.selecPunto" 
            image="Images\uno.png" 
            message="Seleccione dos puntos\nPara la herramienta" 
            tip=""><Help heading="" /></Tool>
        <Button caption="Activar tools" 
            category="Python Addin" 
            class="ButtonActivar" 
            id="nuevaLinea_addin.activar" 
            image="" 
            message="" 
            tip=""><Help heading="" /></Button>
        <Button caption="Desactivar" 
            category="Python Addin" 
            class="ButtonDesactivar" 
            id="nuevaLinea_addin.descartivar" 
            image="" 
            message="" 
            tip=""><Help heading="" /></Button>
        <Button caption="Ejecutar" 
            category="Python Addin" 
            class="ButtonEjecutar" 
            id="nuevaLinea_addin.ejecutar" 
            image="" 
            message="" 
            tip=""><Help heading="" /></Button>
        <Button caption="Limpiar Auxiliar" 
            category="Python Addin" 
            class="ButtonClearAuxiliar" 
            id="nuevaLinea_addin.clearAuxiliar" 
            message="Eliminar puntos de capa Auxiliar"></Button>
        <Button caption="llenar Campo" 
            category="Python Addin" 
            class="ButtonLlenarCampo" 
            id="nuevaLinea_addin.llenarCampo" 
            image="" 
            message="" 
            tip=""><Help heading="" /></Button>
        <ComboBox caption="Capa Arboles" 
            category="Python Addin" 
            class="NumeroLinea" 
            id="nuevaLinea_addin.capaArbol" 
            itemSizeString="WWWWWWWWWWWWWWWWWWWW" 
            message="Seleccione Capa Trabajo" 
            rows="4" 
            sizeString="WWWWWWWW" 
            tip="Capa de trabajo"><Help heading="" /></ComboBox>
        <ComboBox caption="Capa Desechos" 
            category="Python Addin" 
            class="CapaDesechos" 
            id="nuevaLinea_addin.capaDesechos" 
            itemSizeString="WWWWWWWWWWWWWWWWWWWW" 
            message="Seleccione Capa desechos" 
            rows="4" 
            sizeString="WWWWWWWW" 
            tip="Capa de desechos"><Help heading="" /></ComboBox>
        <ComboBox caption="Capa No cultivable" 
            category="Python Addin" 
            class="CapaNoCultivable" 
            id="nuevaLinea_addin.capaNoCultivable" 
            itemSizeString="WWWWWWWWWWWWWWWWWWWW" 
            message="Seleccione Capa no Cultivable" 
            rows="4" 
            sizeString="WWWWWWWW" 
            tip="Capa de no cultivacion"><Help heading="" /></ComboBox>
        <ComboBox caption="Capa Caminos" 
            category="Python Addin" 
            class="CapaCamino" 
            id="nuevaLinea_addin.capaCamino" 
            itemSizeString="WWWWWWWWWWWWWWWWWWWW" 
            message="Seleccione Capa de caminos" 
            rows="4" 
            sizeString="WWWWWWWW" 
            tip="Capa de caminos"><Help heading="" /></ComboBox>
        <ComboBox caption="Capa Auxiliar" 
            category="Python Addin" 
            class="CapaAuxiliar" 
            id="nuevaLinea_addin.capaAuxiliar" 
            itemSizeString="WWWWWWWWWWWWWWWWWWWW" 
            message="Seleccione Capa auxiliar" 
            rows="4" 
            sizeString="WWWWWWWW" 
            tip="Capa de puntos auxiliares"><Help heading="" /></ComboBox>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="CrearLinea" category="Python Addin" id="nuevaLinea_addin.crearLine" showInitially="true">
        <Items>
            <Tool refID="nuevaLinea_addin.selecPunto" />
            <Button refID="nuevaLinea_addin.activar" />
            <Button refID="nuevaLinea_addin.descartivar" />
            <Button refID="nuevaLinea_addin.ejecutar" />
            <Button refID="nuevaLinea_addin.clearAuxiliar"/>
            <Button refID="nuevaLinea_addin.llenarCampo"/>
            <ComboBox refID="nuevaLinea_addin.capaArbol" />
            <ComboBox refID="nuevaLinea_addin.capaDesechos" />
            <ComboBox refID="nuevaLinea_addin.capaNoCultivable"/>
            <ComboBox refID="nuevaLinea_addin.capaCamino"/>
            <ComboBox refID="nuevaLinea_addin.capaAuxiliar"/>
        </Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>