<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{6aa15d30-0f6d-4162-b1d5-e1b06a716551}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image /><Author>Untitled</Author><Company>Untitled</Company><Date>01/17/2022</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="metodo3_addin.py" namespace="metodo3_addin"><ArcMap>
    <Commands>
        <Button caption="Desactivar" category="Python Addin" class="ButtonDesable" id="metodo2_addin.desactivar" image="" message="Desactivar herramienta" tip=""><Help heading="" /></Button>
        <Button caption="DirName" category="Python Addin" class="ButtonDirName" id="metodo2_addin.dataInput" message="Activar Herramienta"></Button>
        <Button caption="Activar" category="Python Addin" class="ButtonActivar" id="metodo3_addin.activar" image="" message="" tip=""><Help heading="" /></Button>
        <Tool caption="GetClick" category="Python Addin" class="GetClick" id="metodo3_addin.getClick" image="" message="" tip=""><Help heading="" /></Tool>
        </Commands>
    <Extensions>
        </Extensions>
        <Toolbars>
        <Toolbar caption="Metodo3" category="Python Addin" id="metodo3_addin.metodo3" showInitially="true">
            <Items>
                <Button refID="metodo2_addin.desactivar" />
                <Button refID="metodo2_addin.dataInput"/>
                <Button refID="metodo3_addin.activar" />
                <Tool refID="metodo3_addin.getClick" />
            </Items>
        </Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>