<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{49429663-5468-4122-8873-f68aaeda50ac}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image /><Author>Untitled</Author><Company>CIVIS</Company><Date>01/10/2022</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="metodo2_addin.py" namespace="metodo2_addin"><ArcMap>
    <Commands>
        <Tool caption="MoveMause" category="Python Addin" class="EventoMoveMause" id="metodo2_addin.moveMause" image="" message="Detectamos el evento mause" tip="Detectar"><Help heading="" /></Tool>
        <Button caption="Desactivar" category="Python Addin" class="ButtonDesable" id="metodo2_addin.desactivar" image="" message="Desactivar herramienta" tip=""><Help heading="" /></Button>
        <Button caption="Activar" category="Python Addin" class="ButtonActive" id="metodo2_addin.activar" image="" message="Activar Herramienta" tip=""><Help heading="" /></Button>
        <Button caption="DirName" category="Python Addin" class="ButtonDirName" id="metodo2_addin.dataInput" message="Activar Herramienta"></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="getData" category="Python Addin" id="metodo2_addin.getData" showInitially="true">
            <Items>
                <Tool refID="metodo2_addin.moveMause" />
                <Button refID="metodo2_addin.desactivar" />
                <Button refID="metodo2_addin.activar"/>
                <Button refID="metodo2_addin.dataInput"/>
            </Items>
        </Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>