<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{3e3ffd5f-423d-4910-8e81-4d035bcd298d}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image /><Author>Juan Jose</Author><Company>ARCGYS</Company><Date>01/06/2022</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="nuevoTools_addin.py" namespace="nuevoTools_addin"><ArcMap>
    <Commands>
        <Button caption="ACTIVAR" category="Python Addin" class="ButtonActivar" id="nuevoTools_addin.button" image="Images\nike.png" message="" tip=""><Help heading="" /></Button>
        <Tool caption="ActionCursor" category="Python Addin" class="ActionCursor" id="nuevoTools_addin.tool" image="Images\uno.png" message="" tip=""><Help heading="" /></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Toolbar" category="Python Addin" id="nuevoTools_addin.toolbar" showInitially="true"><Items><Button refID="nuevoTools_addin.button" /><Tool refID="nuevoTools_addin.tool" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>